.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  color: white;
  background-color: black;
}

h1 {
  font-weight: 500;
}

.nav-list {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.nav-list li {
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}